Special character '@' in the project name makes it unreachable

Special character '@' in the project name makes it unreachable

The displayed name of the project shouldn't be used as an id and in the project url.
There should have an displayed name for the project and an id name to set upon creation.


Sorry Pierre, but what do you mean by "project name" here ?  Can you give an example please (I must be missing something :)

I'm sorry, I should've been more precise. I meant the Registered Resource name.
When you want to register a tool you have to specify its name. This name will be used in every url afterwards (reach the tool description on bio.tools, edit the tool desciption, ...).

So if you put an '@' in the Tool's name it renders it unreachable and un editable.

(See tool 'WEBnm@' added today)

OK, thanks!  Will update the regex in due course ...

From http://stackoverflow.com/questions/1856785/characters-allowed-in-a-url
"... only alphanumerics, the special characters "$-_.+!*'(),", and reserved characters used for their reserved purposes may be used unencoded within a URL."

so I guess we stick to those characters (i.e. which do not require encoding)

But the tools name (for display) should still be possible to add with '@' symbol and then another id name should be use in the url to link to it.

For example: 
displayed tool name = WEBnm@ (on the main page with all the registry entries)
id name in the url = webnma (either specified by the end user upon creation, or with the special character removed, ...)


I think the final solution will be that tools will have both a name, and an ID which is used in the URL.  The ID is typically identical to the name, but will be constrained to provide a clean URL (no encoding)  ... "cool" urls and all that :)

Thank you very much @PierreBedoucha for reporting this!

I do very much agree with @joncison and @PierreBedoucha that after the data model update, there should be at least 2 different and mandatory name attributes:
- (short) display name (non-unique)
- unique ID name (must be a proper unqualified XML name, to be usable in RDF/XML!!! -- should be suggested from the short display name, just like email addresses are suggested from a person's name in any reasonable email-account creation form)
- and maybe also an optional long display name (some resources may need it)

However, I do very much agree with @hmenager that for now this is an urgent bio.tools bug that needs to be fixed!
https://bio.tools/tool/UiB/WEBnm%40/2.0 = https://bio.tools/tool/UiB/WEBnm@/2.0
But it looks like either the backend or the frontend or neither are responding, or the web app doesn't work.

@matuskalas : pls. email Emil directly too ...

I agree with everything @matuskalas is suggesting. 

@PierreBedoucha: Would it be good enough to change the name of 'WEBnm@' to 'WEBnma' for now, before we are able to specify and implement improvements?

The display names can be less restrictive but I suggest the unique name ID should only contain URI safe characters as per section 2.3 of [RFC 3986](http://www.ietf.org/rfc/rfc3986.txt): “Characters that are allowed in a URI but do not have a reserved purpose are called unreserved. These include uppercase and lowercase letters, decimal digits, hyphen, period, underscore, and tilde.”

@ekry : Actually we have already duplicated the tool with the name 'WEBnma' when we registered it on @matuskalas last week workshop.

All the features of the first registration, with the tool name 'WEBnm@', are unreachable because of the '@'

Ultimately, there should be only one tool entry with the display name 'WEBnm@' and the id 'WEBnma' (either automated or prompted for choice upon registration)

@PierreBedoucha : Ok, great. I think we can all agree that this is the way to go and will be working towards separate URL and display names.

@ekry : Great! :+1: 

One more suggestion with respect to **names**: We should at some point (soon) add the possibility of **alternative** names, and a sufficient number of attributes for **short**, **long**, **abbreviated**, _etc._ names. For example _MSAViewer_ = _msa_ = _BioJS MSAViewer_.
And **some** of the alternative names should also be connected to _alternative URIs_, e.g. when a name of a tool changed in the course of time, or if there are 2 established alternative names (_e.g._ _ClustalW_ and _CLUSTAL_).

:+1: re supporting "display / short name"  - which should be strictly limited in length

of course in the ideal world all names would be short, alas we have to allow for creativity

So we are now settled on having a display name (i.e. <name> in biotoolsXSD) and a "biotools  tool ID" derived from it (i.e. <biotoolsID> in biotoolsXSD) : a suggestion will be provided by the bio.tools UI.

So far as biotoolsXSD goes, this issue is closed.  